<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Kisanbazaar</title>
    <link rel="icon" type="image/x-icon" href="assets/kisanbazaar-favicon-color.png">
    <!-- <script src="https://cdn.roboflow.com/0.2.26/roboflow.js"></script> -->
</head>

<body>

    
    <%- include('nav'); %>


    <!-- Main Button -->
    <div class="main-btn">
        <button class="btn-graph" data-bs-toggle="modal" data-bs-target="#graphModal">
            <div class="demand-btn-text"><lord-icon src="https://cdn.lordicon.com/eodavnff.json" trigger="loop"
                    delay="1000" stroke="bold" state="loop-all" style="width:50px;height:50px">
                </lord-icon></div>
        </button>

        <button class="btn-demand" data-bs-toggle="modal" data-bs-target="#cameraModal">
            <div class="demand-btn-text"><lord-icon src="https://cdn.lordicon.com/vneufqmz.json" trigger="loop"
                    delay="2000" style="width:50px;height:50px">
                </lord-icon></div>
        </button>
    </div>

    <div class="btn-home">
        <a href="#">
            <img src="assets/kisanbazaar-favicon-color.png" alt="" style="height: 70px; width: 70px;"></a>
    </div>




    <!-- Modal Graph -->
    <div class="modal fade" id="graphModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class=" modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content container">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Detailed Graph</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Graph -->
                    <canvas class="horizontalBar"></canvas>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Camera -->
    <div class="modal fade" id="cameraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class=" modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Capture Photo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <!-- Camera -->
                    <div id="video-container">
                        <video id="video" autoplay></video>
                    </div>
                </div>
                <div id="button-container">
                    <button id="capture-btn" type="button" class="btn btn-danger"><i
                            class="bi bi-camera-fill"></i></button>
                    <button id="switch-camera-btn" type="button" class="btn btn-primary"><i
                            class="bi bi-arrow-repeat"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Design Ends -->

    <!-- Product second page -->
    <div class="container product-glass-card gap-2">
        <div class="carausel">
            <img src= <%= product.productImage %> 
                alt="" class="img-fluid">
        </div>
        <div class="left-side">

            <div class="content-box mt-3 d-flex align-items-center" style="background-color: #F2F1EB">
                <div class="heading">
                    <h3 id="fruitName" class="h3 fw-bold"> <%= product.productName %></h3>
                    <div class="d-flex">
                        <div>
                            <lord-icon src="https://cdn.lordicon.com/tdtlrbly.json" trigger="hover" stroke="bold"
                                state="hover-jump-roll" colors="primary:#121331,secondary:#16c72e"
                                style="width:25px;height:25px" class="p-1">
                            </lord-icon>
                        </div>
                        <div class="p-2 small d-flex align-items-center"><%= product.userLocation %></div>
                    </div>
                </div>
            </div>

            <div class="right-side">
                <div class="mt-3 py-3 price-box d-flex justify-content-center flex-column"
                    style="background-color: #F2F1EB">
                    <div class="px-3">
                        <h3 class="h3 fw-bold">₹ <%= product.productPrice %>/kg</h3>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="ps-3 px-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-person-lines-fill p-1" viewBox="0 0 16 16">
                                <path
                                    d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
                            </svg>
                        </div>

                        <p class="small my-1 ">Ramesh Lal</p>


                    </div>
                </div>
            </div>

        </div>
        <div class="">
            <div class="description my-3 p-3" style="background-color: #F2F1EB">
                <h3 class="h3 fw-bold"> Description </h3>
                <hr>
                <h5 class="fw-light  h5">
                    <p class="text-muted small"><%= product.productDescription %></p>
            </div>
            <div class="p-3 call-box " style="background-color: #F2F1EB">
                <div>
                    <h2 class="fw-bold">Contact Seller</h2>
                    <hr>
                </div>
                <div class="d-flex px-3">
                    <div class=" me-3">
                        <button type="button" class="btn btn-success w-100 "><i class="bi bi-telephone"></i> Audio
                            Call</button>
                    </div>
                    <div class="">
                        <button type="button" class="btn btn-success w-100"><i class="bi bi-camera-video"></i> Video
                            Call</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>
    </div>











    <!-- Page Design Ends -->



    <!-- Footer -->
    <div class="footer-basic bg-dark mt-5">
        <footer>
            <div class="social"><a href="#"><i class="bi bi-instagram"></i></a><a href="#"><i
                        class="bi bi-snapchat"></i></a><a href="#"><i class="bi bi-twitter-x"></i></a><a href="#"><i
                        class="bi bi-linkedin"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">WakandaForever © 2024</p>
        </footer>
    </div>
</body>

</html>